
@model GameInterface.Core.PagerQuery<GameInterface.Core.PagerInfo,List<GameInterface.Domain.Model.LoginUser>> 
@{
    ViewBag.Title = "UserList";
}

<h2>用户管理</h2>


<table class="table">
    <tr>
        <td>用户名</td>
        <td>邮箱</td>
        <td>类型</td>
        <td>状态</td>
        <td>注册时间</td>
        <td>操作</td>
    </tr>
    @{
        bool flag = false;
        foreach (GameInterface.Domain.Model.LoginUser item in Model.EntityList)
        {
            flag = !flag;
            <tr class="@(flag?"even":"odd")">
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.Type</td>
                <td>@item.Status</td>
                <td>@item.CreateTime</td>
                <td>@Html.ActionLink("编辑", "EditeUser", new { id = item.ID.ToString() }, new { target="_blank"})
                    &nbsp;@Html.ActionLink("删除", "EditeUser", new { id = item.ID.ToString() })
                </td>
            </tr>
        }
        <tr class="">
                             <td colspan="5" align="left" class="paginator">
                                 <span>
                                     @Html.ShowPageNavigate(Model.Pager.CurrentPageIndex, Model.Pager.PageSize, Model.Pager.RecordCount)
                                 </span>
                             </td>
                         </tr>
        }
</table>
